html, body{
    height:100%;
    /* width:100%; */
}
body {
    background-color: dimgray; 
    padding: 0; 
    margin: 2%; 
    display:flex;
    vertical-align: top;
     /* This centers our sketch horizontally. */
    justify-content: center;
    /*prevents the screen from scrolling*/
    overflow-y: hidden;
}
#canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.showInstructions {
    position:relative;
    left:-508px;
    padding:5px;
    margin:2px;
    display: inline-block;
    border-radius: 5px;
    background-color: lightgreen;
}
.showInstructions:hover + .instructions{
    display: inline-block;
    background-color: grey;
    padding:20px;
}
.instructions{
    position: absolute;
    display: none;
    /* top: 18%;
    left: 10%; */
    background-color: lightgray;
    padding:20px;
}